<div class="col mb-4">
    <!-- mb-4 adds margin-bottom to create space between cards -->
    <div class="special-card">
        <img src="{{escort.image}}" class="card-img-top" alt="..." style="height: 200px; width:100%;">
        <div class="card-body">
            <h5 class="card-title text-success">{{escort}}</h5>
            <p class="card-text" style="font-family:Georgia, 'Times New Roman', Times, serif;">
                {{escort.description}}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-warning">Phone No: {{escort.phoneNo}}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'view-escort' escort.id%}" class="card-link">More info...</a>
            
        </div>
    </div>
</div>