
    <div class="col mb-4">
        <!-- mb-4 adds margin-bottom to create space between cards -->
        <div class="special-card" >
            <img src="{{escort.image}}" class="card-img-top" alt="..." style="height: 200px; width:100%; aspect-ratio: square;">
            <div class="card-body">
                <h5 style="color: rgb(195, 105, 77); font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:bold; text-decoration:underline;">{{escort}}</h5>
                <p  style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:lighter; font-size:small;">
                    {{escort.location}}
                </p>
            </div>
            <div class=" card-body">
               <p style="font-family:fantasy; font-size:15px; font-weight:lighter">
               Hey there, know more about this hot escort {{escort}} from {{escort.location}}, click on more info to find out...
               </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item " style="color: red;">Phone No: 0{{escort.phoneNo}}</li>
            </ul>
            <a href="{% url 'view-escort' escort.id%}">
                <div>
                    more info...
                </div>
            </a>
        </div>
    </div>

